    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">What do you want to hear?</h1>
            <%= form_tag static_pages_results_path, method: "get" do %>
              <div class="lead">
                <%= label_tag(:search, "") %><br>
                <%= text_field_tag(:search, params[:search], placeholder: "Search for music") %><br>
              </div>
              <% end %>

  
            <p class="lead">
              <%= submit_tag 'Search', name: nil, class: 'btn btn-default' %>
            </p>
          </div>

          
        </div>

      </div>

    </div>


