<section id= "section-2">
                  <div class="mediabox">
                    <table>
                      <thead>
                        <tr>
                        <th>One</th>
                        <th>Two</th>
                        <th>Three</th>
                      </tr>
                      </thead>
                      <tbody>
                        <%  20.times do  %>
                        <tr>
                          <td><%= params['search']['search'] %></td>
                          <td>Here's Some Stuff</td>
                          <td>More</td>
                        </tr>
                        <%  end  %>

                      </tbody>
                    </table>
                  </div><!--mediabox-->
                </section>