<div class="inner cover grid cloud">
            <h3 class= "lead"><span class="pull-left">Listing: <%= params['search']['search'] %></span><span class="pull-right"><script type="text/javascript"> document.write(Math.floor(Math.random()* 10000)+ 1)</script> results<span> 
            </h3>
          </div><!--inner-->