    <div class="site-wrapper">

      <div class="site-wrapper-inner skin-1">

        <div class="cover-container container">
          <div id="tabs" class="tabs">
              <nav>
                <ul class="tab-browsing">
                  <li><a href="create.html" class="icon-1 text-uppercase breathe"><span><h2>Artists</h2></span></a></li>
                  <li><a href="#section-2" class="icon-2 text-uppercase breathe"><span><h2>Genres</h2></span></a></li>
                  <li><a href="#section-3" class="icon-3 text-uppercase breathe"><span><h2>Albums</h2></span></a></li>
                  <li><a href="songs.html" class="icon-4 text-uppercase breathe"><span><h2>Songs</h2></span></a></li>
                  <li><a href="#section-5" class="icon-5 text-uppercase breathe"><span><h2>Playlists</h2></span></a></li>
                </ul>
              </nav>
            
            </div><!--tabs-->
          <div class="content">
            <%= render 'search'  %>
               <section id= "section-2">
                  <div class="mediabox">
                    <table>
                      <thead>
                        <tr>
                        <th>One</th>
                        <th>Two</th>
                        <th>Three</th>
                      </tr>
                      </thead>
                      <tbody>
                        <%  20.times do  %>
                        <tr>
                          <td><%= params['search']['search'] %></td>
                          <td>Here's Some Stuff</td>
                          <td>More</td>
                        </tr>
                        <%  end  %>

                      </tbody>
                    </table>
                  </div><!--mediabox-->
                </section>
              </div>

          
        </div><!--cover-container-->
         
      </div><!--site-wrapper-inner-->
    </div><!--site-wrapper-->
