    <div class="site-wrapper">

      <div class="site-wrapper-inner skin-1">

        <div class="cover-container container">

          <div class="inner cover grid cloud">
            <h3 class= "lead">You searched for: </h3>
            <a href = "#" class= "grid-item tag2"><%= params['search']['search'] %></a>
          </div>

        </div>
      </div>
    </div>
