    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">What do you want to hear?</h1>
              <%= form_for :search, url:{action: 'create'} do |f| %>
              <div class="lead">
                <%= f.label (:search, "") %><br>
                <%= f.text_field (:artist, placeholder: "Search for music") %><br>
              </div>
              <% end %>

  
            <p class="lead">
              <%= submit_tag 'Search', class: 'btn btn-default' %>
            </p>
          </div>

          
        </div>

      </div>

    </div>


