    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            Listing: 
              <%= params['search'] %> <br>
            Listing: 
              <%= @hotttnesss  %><br>
            Listing:
              <% @artists.map(&:name).each do |artist|  %>
                <%= artist  %><br>
              <%  end  %>
          </div>
        </div>

      </div>
    </div>
