    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            
              <%= form_for :search, url: {action: "create"} do |f| %>
                <div class = "lead">
                  <h1 class="cover-heading">I want to hear</h1>
                <%= f.text_field :search, placeholder: "new music" %>
             

  
                <%= f.submit 'Search', class: 'btn btn-default' %>
              </div>

             <% end %>
          </div>

          
        </div>

      </div>

    </div>