    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">What do you want to hear?</h1>
              <%= form_for :search, url: {action: "create"} do |f| %>
              <div class="lead">
                
                <%= f.text_field :search, placeholder: "Search for music" %><br>
              </div>
             

  
              <p class= "lead">
                <%= f.submit 'Search', class: 'btn btn-default' %>
              </p>

             <% end %>
          </div>

          
        </div>

      </div>

    </div>