/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Columns */

.panel {
  margin-top: 20px;
}

.panel-heading img{
  max-width: 100%;
  padding-top: 15px;
}

.panel-body {
  height: auto;
  font-size: .75em;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.panel-footer {
  
}

/* Tag Cloud */

.grid {
  margin: 0 auto;
  max-width: 60em;
  padding: 0 1em;
}

.grid-item {
  display: inline;
  margin: 0.2em 0.1em;
  font-size: 2em;
}

.grid-item:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.cloud {
    div.tag2 a{
      font-size: 0.7em;
      font-weight: 100;
      color: #FF9900;
    }
    div.tag3 a{
      font-size: .9em;
      font-weight: 200;
      color: #424242;
    }
    div.tag4 a{
      font-size: 1.1em;
      font-weight: 300;
      color: #3299BB;
    }
    div.tag5 a{
      font-size: 1.3em;
      font-weight: 100;
      color: #F2D43F;
    }
    div.tag6 a{
      font-size: 1.5em;
      font-weight: 200;
      color: #FF9900;
    }
    div.tag7 a{
      font-size: 1.7em;
      font-weight: 300;
      color: #424242;
    }
     div.tag8 a{
      font-size: 1.9em;
      font-weight: 400;
      color: #3299BB;
    }
     div.tag9 a{
      font-size: 2.1em;
      font-weight: 200;
      color: #F2D43F;
    }
     div.tag10 a{
      font-size: 2.3em;
      font-weight: 300;
      color: #61C155;
    }
}

/* Text */

.breathe {
  letter-spacing: .2em;
}

/* */

.hide {
  display: none;
} 




