// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Links */

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* Buttons */

.btn-default, 
.btn-default:hover, 
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

/* Base Structure */

html, body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #fff;
  text-align: center;
}

div.lead {
  display: inline;
}

/* Vertical and Horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  font-weight: 200;
}

/* Padding */
.inner {
  padding: 30px;
}

/* Cover */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading {
   text-shadow: 0 1px 3px rgba(0,0,0,.5);
   display: inline-block;
   font-weight: 200;

}

.cover h1 {
  font-size: 2em;
}

.cover input {
  font-weight: inherit;
  font-size:inherit; 
  font-family:inherit;
  line-height: inherit;
  color:inherit;
  border: none;
  background: transparent;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.cover input:focus {
  outline: none;
}

#search_search {
  border-bottom: 1px solid black;
  text-align: center;
}


/* Media Queries */

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }

  .cover-container {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

/******* Results Page *******/

/* Icons */
/*
@font-face {
  font-family: 'icomoon';
  src:url('');
  src:url('') format('embedded-opentype');
      url('') format('woff');
      url('') format('truetype');
      url('') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

.tabs {
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
  font-weight: 200;
  vertical-align: middle;
  margin-top: 10%;
  position: fixed;
  width: 20%;
  float: left;
}

/* Tab Navigation */

.tabs nav {
  text-align: left;
  height: 100%;
}
.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    width: 100%;
  }

.tabs nav ul li {
        border:none;
        margin: 0 0 .25em;
        display: block;
        float: left;
        clear:left;
        position: relative;
        width: 100%;
}
.tabs nav ul li.tab-current {
       border: 1px solid purple;
        box-shadow: inset 0 2px purple;
        border-bottom: none;
        z-index: 100;
      }
.tabs nav ul li.tab-current:before,
.tabs nav ul li.tab-current:after {
        content: '';
        position: absolute;
        height: 1px;
        right: 100%;
        bottom: 0;
        width: 1000px;
        background: purple;
      }

.tabs nav ul li.tab-current:after{
        right: auto;
        left: 100%;
        width: 4000px;
      }

.tabs nav a {
    color: gray;
    display: block;
    font-size: 1.15em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
    font-weight:100;
  }

.tabs nav a:hover {
    color: #768e9d;
  }

 .tabs nav li.tab-current a {
    color: purple;
  }

/* Icons */

/* Content */

.content {

  float: right;
  width: 80%;
}

.content section {
  font-size: 1.25em;
  padding: 3em 1em;
/*  display: none;*/
  max-width: 1230px;
  margin: 0 auto;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.visible {
  display: block;
}


/* Responsive square */



.mediabox {
  position: relative;
  max-width: 0 auto;
  padding: 1em 0 4em;
  text-align: center;
}
.square {
  position: relative;
  display: block;
  float: right;
  overflow: hidden;
  margin: 10px .25%;
  min-width: 160px;
  max-width: 240px;
  max-height: 180px;
  width: 12.5%;
  background: black;
  text-align: center;
  cursor: pointer;
}

.square-inner {
  height: 120px;
}

.caption {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;

}

.caption::before,
.caption::after {
  pointer-events: none;
}

.caption, 
.caption > a {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.caption h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}

.caption h2 span {
  font-weight: 800;
}

.caption h2,
.caption p {
  margin: 0;
}

.caption p {
  letter-spacing: 1px;
  font-size: 50%;
}

div.effect-milo {
  background: #2e5d5a;
}

.square-inner {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px,0,0) scale(1.12);
  transform: translate3d(-30px,0,0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.square-inner {
/*  opacity: 0.5;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);*/
}

div.effect-milo h2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em;
}

div.effect-milo p {
  padding: 0 10px 0 0;
  width: 90%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
 -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

div.effect-milo:hover p {
  opacity: 1;
 -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.teal {
  background-color: #0E8D94;
}

.small{
  font-size: 50%;
}

/* Table */

table {
  width: 100%;
  text-align: left;
}

.content td, th {
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.content th {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;

}
thead {
  border-bottom: 1px lightgray solid;
  border-top: 1px lightgray solid;
  background-color: whitesmoke;
  color: gray;
}


tbody tr {
  border-bottom: 1px whitesmoke solid;
  font-size: 85%;
  padding-left: 20px;
}

.torange {
  border-color: orange;
}

